* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #212F3C;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    width: 100%;
}

header img {
    width: 8%;
}

nav ul {
    display: flex;
    list-style: none;
}

main {
    color: black;
}

.redes-sociales {
    list-style: none;
    display: flex;
}

li, .contacto {
    margin: 10px;
}

.copy {
    margin-top: 10px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #212F3C;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

li:hover {
    transform: scale(1.2);
    color: #cccc;
}

a:link, :visited, :active{
    color: inherit;
}